Tasks::Builder::Config::LastTask    97
Tasks::Center::options.no-pull    1
Tasks::Center::options.sleep    1
Tasks::Center::tasks_0    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/547894c7a5640b00288b456e
Tasks::Center::tasks_1    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/546bc355a5640b5d048b45a7
Tasks::Center::tasks_2    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/546bc355a5640b5d048b45a7
Tasks::Center::tasks_3    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5470c982a5640ba50b8b4579
Tasks::Center::tasks_4    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5470c982a5640ba50b8b4579
Tasks::Center::tasks_5    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54785b82a5640bc7048b4574
Tasks::Center::tasks_6    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54785b82a5640bc7048b4574
Tasks::Center::tasks_7    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54789444a5640b51268b45a1
Tasks::Center::tasks_8    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54789444a5640b51268b45a1
Tasks::Center::tasks_9    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5472f426a5640baa5a8b45b4
Tasks::Center::tasks_10    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5472f426a5640baa5a8b45b4
Tasks::Center::tasks_11    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/547884a9a5640b811c8b45b3
Tasks::Center::tasks_12    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/547884a9a5640b811c8b45b3
Tasks::Center::tasks_13    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54698ed9a5640b383f8b4596
Tasks::Center::tasks_14    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54698ed9a5640b383f8b4596
Tasks::Center::tasks_15    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5477b3f5a5640b5b278b458a
Tasks::Center::tasks_16    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5477b3f5a5640b5b278b458a
Tasks::Center::tasks_17    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5475ffdba5640be1218b4585
Tasks::Center::tasks_18    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5475ffdba5640be1218b4585
Tasks::Center::tasks_19    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/53d112d8a5640b215a8b4573
Tasks::Center::tasks_20    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/53d112d8a5640b215a8b4573
Tasks::Center::tasks_21    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54480a69a5640bbf5b8b459a
Tasks::Center::tasks_22    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54480a69a5640bbf5b8b459a
Tasks::Center::tasks_23    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54775dd2a5640bbe748b45a5
Tasks::Center::tasks_24    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54775dd2a5640bbe748b45a5
Tasks::Center::tasks_25    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54768e99a5640b387c8b4592
Tasks::Center::tasks_26    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54768e99a5640b387c8b4592
Tasks::Center::tasks_27    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5478512da5640b00768b45c7
Tasks::Center::tasks_28    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5478512da5640b00768b45c7
Tasks::Center::tasks_29    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54422fcda5640bb2748b4595
Tasks::Center::tasks_30    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54422fcda5640bb2748b4595
Tasks::Center::tasks_31    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54785877a5640bd8798b45fe
Tasks::Center::tasks_32    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54785877a5640bd8798b45fe
Tasks::Center::tasks_33    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/547193f0a5640b3d0e8b456c
Tasks::Center::tasks_34    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/547193f0a5640b3d0e8b456c
Tasks::Center::tasks_35    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5472fa41a5640bb0608b4591
Tasks::Center::tasks_36    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5472fa41a5640bb0608b4591
Tasks::Center::tasks_37    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5476fd9fa5640b0b458b4571
Tasks::Center::tasks_38    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5476fd9fa5640b0b458b4571
Tasks::Center::tasks_39    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5474ddeaa5640b64748b4599
Tasks::Center::tasks_40    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5474ddeaa5640b64748b4599
Tasks::Center::tasks_41    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54499a19a5640bcb348b4590
Tasks::Center::tasks_42    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54499a19a5640bcb348b4590
Tasks::Center::tasks_43    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5474d4bea5640b9b728b4592
Tasks::Center::tasks_44    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5474d4bea5640b9b728b4592
Tasks::Center::tasks_45    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5474bc7ca5640ba4648b457f
Tasks::Center::tasks_46    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5474bc7ca5640ba4648b457f
Tasks::Center::tasks_47    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54606166a5640b12078b4580
Tasks::Center::tasks_48    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54606166a5640b12078b4580
Tasks::Center::tasks_49    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54789dd1a5640b802c8b458d
Tasks::Center::tasks_50    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54789dd1a5640b802c8b458d
Tasks::Center::tasks_51    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54771214a5640b1c4f8b457f
Tasks::Center::tasks_52    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54771214a5640b1c4f8b457f
Tasks::Center::tasks_53    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54759d7aa5640be4668b45b7
Tasks::Center::tasks_54    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54759d7aa5640be4668b45b7
Tasks::Center::tasks_55    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54737c87a5640bd6278b4591
Tasks::Center::tasks_56    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54737c87a5640bd6278b4591
Tasks::Center::tasks_57    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54770b09a5640b7d488b45a5
Tasks::Center::tasks_58    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54770b09a5640b7d488b45a5
Tasks::Center::tasks_59    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/547461aca5640be82e8b4587
Tasks::Center::tasks_60    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/547461aca5640be82e8b4587
Tasks::Center::tasks_61    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54787240a5640b29128b45bf
Tasks::Center::tasks_62    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54787240a5640b29128b45bf
Tasks::Center::tasks_63    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5476b6a1a5640b191c8b457c
Tasks::Center::tasks_64    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5476b6a1a5640b191c8b457c
Tasks::Center::tasks_65    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/547887a3a5640bee208b4573
Tasks::Center::tasks_66    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/547887a3a5640bee208b4573
Tasks::Center::tasks_67    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/547894c7a5640b00288b456e
Tasks::Center::tasks_68    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/547894c7a5640b00288b456e
Tasks::Center::tasks_69    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5474e8d9a5640b607e8b4577
Tasks::Center::tasks_70    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5474e8d9a5640b607e8b4577
Tasks::Center::tasks_71    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/546df94ca5640b14508b456e
Tasks::Center::tasks_72    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/546df94ca5640b14508b456e
Tasks::Center::tasks_73    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5476a4e2a5640b70108b4567
Tasks::Center::tasks_74    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5476a4e2a5640b70108b4567
Tasks::Center::tasks_75    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/545e291aa5640b763d8b45c0
Tasks::Center::tasks_76    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/545e291aa5640b763d8b45c0
Tasks::Center::tasks_77    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5442e849a5640b91538b458c
Tasks::Center::tasks_78    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5442e849a5640b91538b458c
Tasks::Center::tasks_79    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5458ccefa5640b3d308b4567
Tasks::Center::tasks_80    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5458ccefa5640b3d308b4567
Tasks::Center::tasks_81    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/547575efa5640b2f578b4568
Tasks::Center::tasks_82    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/547575efa5640b2f578b4568
Tasks::Center::tasks_83    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54788748a5640b4b218b4568
Tasks::Center::tasks_84    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54788748a5640b4b218b4568
Tasks::Center::tasks_85    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5475ea43a5640bdf138b4596
Tasks::Center::tasks_86    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5475ea43a5640bdf138b4596
Tasks::Center::tasks_87    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5464ed39a5640b78118b4571
Tasks::Center::tasks_88    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5464ed39a5640b78118b4571
Tasks::Center::tasks_89    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/546e0732a5640b4d588b456a
Tasks::Center::tasks_90    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/546e0732a5640b4d588b456a
Tasks::Center::tasks_91    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/547839d6a5640b8d6a8b45cc
Tasks::Center::tasks_92    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/547839d6a5640b8d6a8b45cc
Tasks::Center::tasks_93    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5473f255a5640b27718b4578
Tasks::Center::tasks_94    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5473f255a5640b27718b4578
Tasks::Center::tasks_95    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/53e9f8f3a5640b2f7f8b456c
Tasks::Center::tasks_96    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/53e9f8f3a5640b2f7f8b456c
Tasks::Center::tasks_97    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/5476b0c2a5640b6c138b45e3
Tasks::Center::tasks_98    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/5476b0c2a5640b6c138b45e3
Tasks::Center::tasks_99    urlrule	sites	weipai.cn	AFS	Amanda5275
Tasks::Center::tasks_100    urlrule	sites	vlook.cn	AFS	Amanda5275
Tasks::Center::tasks_101    urlrule	sites	vlook.cn	AFS	桓淼淼
Tasks::Center::tasks_102    urlrule	sites	vlook.cn	AFS	DJ-CC
Tasks::Center::tasks_103    urlrule	sites	vlook.cn	AFS	友熙酱
Tasks::Center::tasks_104    urlrule	sites	vlook.cn	AFS	Dj_kelly
Tasks::Center::tasks_105    urlrule	sites	vlook.cn	AFS	米洁
Tasks::Center::tasks_106    urlrule	sites	vlook.cn	AFS	若含baby
Tasks::Center::tasks_107    urlrule	sites	vlook.cn	AFS	北娃大王
Tasks::Center::tasks_108    urlrule	sites	weipai.cn	AFS	http://www.weipai.cn/video/54723a26a5640b94688b4589
Tasks::Center::tasks_109    urlrule	sites	weipai.cn	saveurl	http://www.weipai.cn/video/54723a26a5640b94688b4589
Tasks::Center::tasks_110    urlrule	sites	weipai.cn	FOLLOW	5449b5c7a5640be5548b458e	寂寞姐姐	SAVE
Tasks::Center::tasks_111    urlrule	sites	weipai.cn	FOLLOW	52cbb7d079d3ccbb0d8b4570	范琪	SAVE
Tasks::Center::tasks_112    urlrule	sites	weipai.cn	FOLLOW	54589ea9a7640b292b8b457e	没有鼻梁的姑娘	SAVE
Tasks::Center::tasks_113    urlrule	sites	weipai.cn	FOLLOW	546b9e0ca5640b86798b456c	郑瑞熙_	SAVE
Tasks::Center::tasks_114    urlrule	sites	weipai.cn	FOLLOW	533b81ad9d67d976228b461e	魔法倩	SAVE
Tasks::Center::tasks_115    urlrule	sites	weipai.cn	FOLLOW	52cbb7d079d3ccbb0d8b4570	范琪	SAVE
Tasks::Center::tasks_116    urlrule	sites	weipai.cn	FOLLOW	546a0312a8640b03658b4582	忧伤的黄瓜1	SAVE
Tasks::Center::tasks_117    urlrule	sites	weipai.cn	FOLLOW	5471edbaa5640b943d8b456b	肥尻夫人Linanan	SAVE
Tasks::Center::tasks_118    urlrule	sites	weipai.cn	FOLLOW	534d71489d67d9e6318b45a5	16姐	SAVE
Tasks::Center::tasks_119    urlrule	sites	weipai.cn	FOLLOW	5448da36a7640b77298b45a7	84剩女姐	SAVE
Tasks::Center::tasks_120    urlrule	sites	weipai.cn	FOLLOW	51fa57ba7f3494ea70000000	陈美琳Mandy	SAVE
Tasks::Center::tasks_121    urlrule	sites	weipai.cn	FOLLOW	53ed0e57a6640b3d578b456c	陈诗云	SAVE
Tasks::Center::tasks_122    urlrule	sites	weipai.cn	FOLLOW	531374499d67d9ee0b8b4567	徐妍馨Mandy	SAVE
Tasks::Center::tasks_123    urlrule	sites	weipai.cn	FOLLOW	5450480da7640bd2048b4584	媚力女人	SAVE
Tasks::Center::tasks_124    urlrule	sites	weipai.cn	FOLLOW	547244d0a5640b02718b4577	爱爱微拍	SAVE
Tasks::Center::tasks_125    urlrule	sites	weipai.cn	FOLLOW	5434fb191890edfd248b49fd	内涵湿姐	SAVE
Tasks::Center::tasks_126    urlrule	sites	weipai.cn	FOLLOW	54524bcaa7640b9f268b459f	梦婷Baby	SAVE
Tasks::Center::tasks_127    urlrule	sites	weipai.cn	FOLLOW	54532adfa8640b681e8b457e	忧伤的小麻雀	SAVE
Tasks::Center::tasks_128    urlrule	sites	weipai.cn	FOLLOW	53f08ff2a8640b557f8b459f	菲飞飞	SAVE
Tasks::Center::tasks_129    urlrule	sites	weipai.cn	FOLLOW	52cbb7d079d3ccbb0d8b4570	范琪	SAVE
Tasks::Center::tasks_130    urlrule	sites	weipai.cn	FOLLOW	52db5434e341676f4c8b458a	草莓Rasa	SAVE
Tasks::Center::tasks_131    urlrule	sites	weipai.cn	FOLLOW	52e7e62677d3cc012f8b459c	penny佩佩	SAVE
Tasks::Center::tasks_132    urlrule	sites	weipai.cn	FOLLOW	5449b474a5640b74528b458d	孤单的84剩女	SAVE
Tasks::Center::tasks_133    urlrule	sites	weipai.cn	FOLLOW	522a6d9e9f6c00e659630a62	穆思旭	SAVE
Tasks::Center::tasks_134    urlrule	sites	weipai.cn	FOLLOW	5382237a9d67d962108b457b	古小丽Lily	SAVE
Tasks::Center::tasks_135    urlrule	sites	weipai.cn	FOLLOW	51ba8ba3813494b42000000e	洛熙爱爱	SAVE
Tasks::Center::tasks_136    urlrule	sites	weipai.cn	FOLLOW	51568669803494a423000042	oliviababy	SAVE
